
html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;

  /* font-family: "pf-videotext", sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "eurostile-extended", sans-serif;
font-weight: 400;
font-style: normal;
}

h2{
  font-weight: 700;
}



.terminal1 {
  margin: auto; /* Center the div horizontally */
  border: 1px solid #fc8888;
  padding: 20px;
  white-space: pre-wrap;
  overflow-y: scroll;
  max-height: 100%;
  max-width: 30%;
  font-size: 20px;
  overflow: hidden; /* Hide scrollbars */

  color:#fc8888;
  font-family: "eurostile-extended", sans-serif;
font-weight: 700;
font-style: normal;
 

}



.terminal2 {

  margin: auto; /* Center the div horizontally */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-size: 20px;
 list-style: none;  /* Remove the default list-style */
  border: 1px solid #fc8888;
  padding: 20px;
  white-space: pre-wrap;
  overflow-y: scroll; /* Add the ability to scroll */
  max-height: 900px;;
  max-width: 30%;


}
.terminal2::-webkit-scrollbar {
  display: none;
}

#history li {

  width: 100%;
  bottom: 100px;
  /* border-bottom: 1px dotted black; */
  border-style: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
 
} 

