body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: monospace;
  text-align: center;
  font-family: 'C64', monospace;
}

.terminal {
  margin: auto; /* Center the div horizontally */
  overflow: hidden; /* Hide scrollbars */
  border: 1px solid #fc8888;
  padding: 20px;
  white-space: pre-wrap;
  overflow-y: scroll;
  max-height: 480px;
  max-width: 30%;
}

button {
  font-family: 'C64', monospace;
  background-color: #00ff00;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #00dd00;
}

#history {
  margin: auto; /* Center the div horizontally */
  overflow: hidden; /* Hide scrollbars */
  list-style: none; /* Remove the default list-style */
  padding: 0; /* Remove default list padding */
  max-width: 30%;
}

#history li {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.header{
  text-align: center;
  margin-top:100px;
  position: static;
}

.typein{
  padding: 30px;
}