body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: monospace;
  text-align: center;
  font-family: 'C64', monospace;
  text-transform: uppercase;
}

.terminal {
  border: 1px solid #fc8888;
  padding: 20px;
  white-space: pre-wrap;
  overflow-y: scroll;
  max-height: 500px;
}

button {
  font-family: 'C64', monospace;
  background-color: #00ff00;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #00dd00;
}

#history {
  list-style: none; /* Remove the default list-style */
  padding: 0; /* Remove default list padding */
}

#history li {
  border-bottom: 2px dotted black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

