body,html {
  margin: 0;
  position: relative;
  z-index: 1;

  background-color: rgb(255, 209, 209);
  color: rgb(255, 255, 255);
  text-align: center;

  font-family: "magistral", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.grid-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle at 10px 10px, #ffffff 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the size of each dot and spacing */
}

h1{
  white-space: nowrap;
  font-size: 50px;
  text-align: left;
  margin-left: 100px;
  margin-bottom: -20px;
  margin-top: -50px;
}
.text1{
  white-space: nowrap;
  font-size: 30px;
  word-spacing: 30px;
  text-align: left;
  margin-left: 100px;
}

.typein{
text-align: left;
margin-left: 100px;
margin-bottom: 10px;
font-size: 20px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  max-width: 300px; /* Set a maximum width for the input fields */
  width: 200px; /* Make sure the width doesn't exceed the maximum width */
  background-color:  rgb(249, 198, 198);
  border: 1px solid #ffffff;
}
input::placeholder {
  color: #ffffff5d; /* Set the color you want for the placeholder text */
}
input:hover {
  border-color: #fd4343; /* Set the desired hover border color */
}

.button1,.button2{
  padding: 50px 16px;
  background-color: rgb(255, 209, 209);
  color: rgb(255, 255, 255);
  border: 1.5px solid #ffffff;
  font-size: 15px;

  font-family: "magistral", sans-serif;
  font-weight: 700;
  font-style: normal;

  border-radius: 5px;
}
button:hover {
  background-color: #ffbaba;
  box-shadow: 0 8px 16px 0 rgba(255, 124, 124, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.button-container {

  display: flex;
  gap: 50px; /* Adjust the space between buttons by changing this value */
  justify-content: flex-end; 
  margin-top:10px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.terminal {

  margin: auto; /* Center the div horizontally */
  border: 1px solid #ffffff;
  padding: 20px;
  white-space: pre-wrap;
  max-height: 300px;
  max-width: 800px;
  
  font-size: 20px;
  font-family: "magistral", sans-serif;
font-weight: 400;
font-style: normal;

list-style: none;
scroll-behavior: smooth;
overflow: scroll;
/* Center the div horizontally */
-ms-overflow-style: none;
/* IE and Edge */
scrollbar-width: none;
/* Firefox */
}

.terminal::-webkit-scrollbar {
  display: none;
}

#history li {
 
  margin-bottom: 20px;
  padding-bottom: 20px;
}


.header{
  text-align: center;
  margin-top:100px;
  position: static;
}

